:root {
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    height: 100%;
    width: 100%;
}

nav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    height: relative;
    top: 0;
    width: 100%;
}

nav a {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    position: center;
    cursor: pointer;
    width: 80%;
    font-size: large;
    color: #f1f1f1;
    line-height: 1.5;
}

body {
    margin: 30;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border-top: 2px solid #111;
    border-radius: 5px;
    width: 90%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;
}

img {
    border: 200px, black;
    gap: 1em;
    margin-top: 2em;
}

p {
    font-weight: 300;
    font-size: x-large;
    line-height: 1.5;
}

.listStyle {
    line-height: 1.9;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    font-weight: 500;
}

